# Dependency directories
node_modules/

# TypeScript build output
*.js
*.js.map
*.d.ts

# IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Include everything in the dist directory
!dist/

# Include the typings directory
!typings/

# Include the rollup config
!rollup-config.js
